<!DOCTYPE html>
<html lang="en">
<title>KOOMPI Translate Platform</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/socialmedia_logo_&_font.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="templates/css" href="socialmedia_logo_&_font.css" media="all" />
<link rel="stylesheet" type="templates/css" href="semantic.css" media="all" />
<style>
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Arial", arial
  }

  .w3-bar,
  h1,
  button {
    font-family: "Arial", arial
  }

  .fa-anchor,
  .fa-coffee {
    font-size: 200px
  }
</style>

<body>

  <!-- Navbar -->
  <div class="top">
    <div class="w3-bar w3-white w3-card w3-right-align w3-large">
      <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-white"
        href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <a href="#" class="bar-item w3-button w3-padding-large w3-white">Home</a>
      <a href="https://www.koompi.com" class="bar-item w3-button w3-padding-large">KOOMPI</a>
      <a href="#" class="bar-item w3-button w3-padding-large w3-white">Donate</a>
      <a href="#" class="bar-item w3-button w3-padding-large">About Us</a>
      <a href='login.html'>Log In</a>

    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
      <a href="https://www.koompi.com" class="bar-item w3-button w3-padding-large">KOOMPI</a>
      <a href="#" class="bar-item w3-button w3-padding-large">Donate</a>
      <a href="#" class="bar-item w3-button w3-padding-large">About Us</a>
      <a href="#" action="login.html"> </a>class="bar-item w3-button w3-padding-large">Log In</a>
      <a href='login.html'>Log In</a>


    </div>
  </div>

  <!-- Header -->
  <header class="w3-container w3-blue w3-center" style="padding:200px 16px">
    <h1 class="w3-margin w3-jumbo">KOOMPI Translate Platform</h1>
    <!-- <p class="w3-xlarge">Open Source</p> -->
    <!-- <form action="myform.cgi"> 
    <input type="file" name="fileupload" value="fileupload" id="fileupload">
    <label for="fileupload"> Select Po File To Uploads</label>
    <input type="Translate" value="Translate">
    </form> 
  -->
    <button class="w3-button w3-white w3-padding-large w3-large w3-margin-top">Upload With Github</button>

  </header>

  <!-- First Grid -->
  <div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-twothird">
        <h1>How it Work?</h1>
        <h5 class="w3-padding-32">KOOMPI ....</h5>

        <p class="w3-text-grey">Translation Platform</p>
      </div>

      <div class="w3-third w3-center">
        <i class="fa fa-anchor w3-padding-64 w3-text-white"></i>
      </div>
    </div>
  </div>

  <!-- Second Grid 
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>Lorem Ipsum</h1>
      <h5 class="w3-padding-32">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>

      <p class="w3-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
</div>
-->
  <!-- 
<div class="w3-container w3-black w3-center w3-opacity w3-padding-12">
    <h1 class="w3-margin w3-xlarge">Enjoy With Us.</h1>
</div>
 -->

  <!-- Footer -->
  <footer class="w3-container w3-padding-32 w3-center w3-opacity">
    <div class="w3-xlarge w3-padding-32">
      <h5 class="w3-padding-32">KOOMPI © 2020 All Rights Reserved</h5>

      <!-- <a href='https://www.koompi.com/'>Link To freeCodeCamp</a> -->

      <!-- <i class="fa fa-facebook-official w3-hover-opacity"></i> -->

    </div>
    <!-- <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p> -->
  </footer>

  <script>
    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else {
        x.className = x.className.replace(" w3-show", "");
      }
    }

</body >
</html >