<!DOCTYPE html>
<html>

<head>
	<title>login form</title>
	<link rel="stylesheet" type="text/css" href="css/login.css">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="fontawesome/css/fontawesome-all.css">
</head>

<body>
	<div class="KQfSb5Qz">
		<div class="container">
			<div class="header">
				<div class="loginarea">
					<h5>Log in</h5>
					<i class="fab fa-facebook-f"></i>
					<i class="fab fa-twitter"></i>
					<i class="fab fa-google"></i>
				</div>
			</div>
			<div class="formdiv">
				<form>
					<input class="emailText" placeholder="Your Email"><br>
					<input type="text" class="emailText" placeholder="Your Password"><br>
					<div class="forgetpas">Forget <b>password</b>
					</div>
					<br><br>
					<div class="login-signup">
						<input class="loginbtn" value="LOG IN">
						<p>Dont Have an Account? <b>Sign up</b></p>
					</div>
				</form>
			</div>
		</div>
		<div class="container">
			<h5 class="signupform2">Sign up</h5>
			<div class="formdiv">
				<form>
					<input class="emailText" placeholder="Your Email"><br>
					<input type="text" class="emailText" placeholder="Your Password"><br>
					<div class="terms">
						<input class="terms-checkbox" type="checkbox">
						<p class="terms-accept">accept the term and condition </p>
					</div>
					<input class="login-button" value="Sign Up">
					<p class="term-para">Have an acount? <a href="">login</a></p>
				</form>
				<div class="icons-div">
					<i class="fab fa-facebook-f"></i>
					<i class="fab fa-twitter"></i>
					<i class="fab fa-google"></i>
				</div>
			</div>
		</div>
		<div class="container">
			<h5 class="signin-third signupform2">Sign up</h5>
			<div class="formdiv">
				<form class="third-div">
					<input class="emailText emailpass-last" placeholder="Your Email"><br>
					<input type="text" class="emailText emailpass-last" placeholder="Your Password"><br>
					<div class="forgetpas">Forget <b>password</b>
					</div>
					<input class="loginbtn btn-third" value="log in">
					<p class="signup-third">or Sign in with</p>
					<div class="thirddiv-icons">
						<i class="fab fa-facebook-f "></i>
						<i class="fab fa-twitter"></i>
						<i class="fab fa-google"></i>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>

</html>